div#register-box {
    width: 1250px;
    padding: 20px;
}

/* div#welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
} */
/* 
h1 {
    font: font-weight-bold; 
    color: text-primary;
} */

table {
    width:  1250px;
    padding: 20px;
}
.error {
    color: #f00;
}
